alembic
bcrypt
blinker
certifi
click
distlib
filelock
Flask
Flask-Bcrypt
Flask-Cors
flask-marshmallow
Flask-Migrate
Flask-SQLAlchemy
greenlet
gunicorn
iniconfig
itsdangerous
Jinja2
Mako
MarkupSafe
marshmallow
packaging
pipenv
platformdirs
pluggy
pytest
SQLAlchemy
typing_extension
virtualenv
Werkzeug
psycopg2
